@charset "UTF-8";
/*
    Em HTML é id  = em CSS é # (só pde um elemento)
    Em HTML é class  = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(27, 92, 27);
}
h1#principal{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(27, 92, 27);
    color: rgb(155, 236, 155);
}

h2{
    color: rgb(42, 141, 42);
}
.basico{
    color:rgb(155, 224, 236) ;
}
.intermediario{
    color: rgb(236, 167, 155);
}
.avancado{
    color: rgb(155, 156, 236);
}
.destaque{
    background-color: rgba(111, 173, 111, 0.507);
}